build
node_modules
.lock-waf_linux2_build
.idea
src/js/pebble-js-app.js
nohup.out

CMakeFiles
cmake_install.cmake
CTestTestfile.cmake
Makefile
test_test
CMakeCache.txt
Testing

# CMake stuff
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
