@import 'main';

.mglass {
  font-size: 10px;
  margin-top: 1.5em;
  margin-left: 1.5em;
  position: relative;
  width: 1.5em;
  height: 0.5em;
  background-color: #FFFFFF;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-bottom-right-radius: 0.3em;
  border-top-right-radius: 0.3em;
}

.mglass::before {
  border: 0.4em solid #FFFFFF;
  content: "";
  position: absolute;
  top: -0.84em;
  left: -1.7em;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

#search-field {
  position: relative;
  top: -27px;
  font-size: 25px;
  width: 185px;
  height: 46px;
}

.filter-field {
  height: 29px;
  top: -1px;
  position: relative;
  left: 14px;
}

#performance-display {
  display: inline-block;
  position: relative;
  left: 15px;
  top: 13px;
}

.depature-number {
  position: relative;
  top: -6px;
  left: 7px;
}

#from {
  display: inline-block;
}

.deleteIcon {
  position: relative;
  left: 25px;
}

.busFilterCheckBox {
  position: relative;
  left: 23px;
}

.filterSpan {
  position: relative;
  left: 5px;
}

@-webkit-keyframes ajax-loader-rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes ajax-loader-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes ajax-loader-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ajax-loader {

  margin-top: 6px;
  margin-bottom: 7px;
  margin-left: 11px;
  margin-right: 12px;

  opacity: .8;
  display: block;
  border-radius: 50%;

  font-size: 29px;
  width: .25em;
  height: .25em;

  box-shadow: 0 -.4em 0 0 rgba(255, 255, 255, 1),
  -.28em -.28em 0 0 rgba(255, 255, 255, .75),
  -.4em 0 0 0 rgba(255, 255, 255, .50),
  -.28em .28em 0 0 rgba(255, 255, 255, .25);

  -webkit-animation: .85s ajax-loader-rotate steps(8) infinite;
  -moz-animation: .85s ajax-loader-rotate steps(8) infinite;
  animation: .85s ajax-loader-rotate steps(8) infinite;
}

.page {
  display: none;
}

#results {
  padding-top: 0;

  li {
    margin: 5px;
  }

  a {
    font-size: 24px;
  }
}

.slebble-list {
  padding-top: 0;

  li {
    &:before {
      content: '\e005';
      font-size: 13px;
    }

    font-weight: 400;
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
    line-height: 1;
    color: #3372df;
    margin: 9px;
    font-size: 20px;
  }
}

#provider {
  margin-top: 5px;
}

.app-bar-actions {
  img {
    margin: 10px;
  }
}

.app-bar button img {
  width: 32px;
  height: 32px;
}
